$bluePrimary: #1eaedb;
$blueLight: rgba($bluePrimary, .05);
$red: #E55B46;
$purple: #BD3CC5;
$green: #86D040;
$orange: #E59046;
$yellow: #E5D046;
$grey: #d1d1d1;
$lightGrey: lighten($grey, 14%);

$startupsColor: $green;
$universitiesColor: $orange;
$providersColor: $purple;

html, body {
  width: 100%;
  height: 100%;
}

.at-input input {width: 100%;}

//colors
.startups-color {
  color: $startupsColor;
}
.startups-color-inverse {
  background-color: $startupsColor;
  color: #fff;
}
.universities-color {
    color: $universitiesColor;
}
.universities-color-inverse {
  background-color: $universitiesColor;
  color: #fff;
}
.providers-color {
  color: $providersColor;
}
.providers-color-inverse {
  background-color: $providersColor;
  color: #fff;
}

/* MainLayout
 ************************************/
.main-layout-container {
  padding: 25px 50px 50px 150px;
}

.banner {
  background: $lightGrey;
  padding: 4px 15px 4px 150px;
  text-align: center;
  h5 {
    margin-bottom: 0;
  }
}

.navbar {
  overflow: hidden;
  position: fixed;
  background: $bluePrimary;
  width: 100px;
  height: 100%;
  text-align: center;
  font-size: 1em;

  .lnr {
    display: block;
    font-size: 2em;
  }

  a {
    padding: 25px 0;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $bluePrimary - 40;
    }
  }
  a.active {
    color: $bluePrimary;
    background-color: #fff;
  }
  .navbar-inner {
    height: inherit;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (max-width: 495px) {
  .main-layout-container {
    padding: 50px 25px 120px;
  }

  .banner {
    padding: 5px 25px;
  }

  .navbar {
    bottom: 0;
    width: 100%;
    height: auto;

    .nav-label {display: none;}

    a {
      padding: 10px;
    }

    .navbar-inner {
      height: inherit;
      width: 100%;
      height: 100%;
      flex-direction: row;
    }
  }
}

/* General
 ****************************/
.button-success {
  background: $green !important;
  color: #fff !important;
  border-color: #fff !important;

  &:hover {
    background: darken($green, 20%);
  }
}

.button-danger-o {
  color: $red !important;
  border-color: $red !important;

  &:hover {
    border-color: darken($red, 10%) !important;
  }
}

.well {
  padding: 25px;
  border:1px solid $grey;

  &.dark-bg {
    background-color: $lightGrey;
  }
}


/* .incubator-crm
 ************************************/
.past-interactions-list,
.incubator-crm-list {
  .single-crm-entry {
    border-bottom: 1px solid $grey;

    .row {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    &:hover:not(:first-child) {
        background: $blueLight;
    }
  }
}


/* Dashboard
 ************************************/
.doughnutchart-row {
   text-align: center;
}

.entity-list {

  img {
    display:block;
    border-radius: 100%;
    max-width: 160px;
    height: auto;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;

    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: row;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;

    li {
      padding: 10px 10px 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      text-align: center;
      // width: 50%;
      border: 1px solid $grey;
      flex: 1;
      width: 170px;
      box-shadow: 0px 1px 3px rgba(0,0,0,.2);

      span.bucket-type {

      }
    }
  }
}

/*  EntityDetails
 ************************************/
.entity-details-template {
  .goal {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 12px;
  }
  .entity-members-customers-lists {
    ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    li {
      width: 30%;
      margin: auto;
    }
    img {
      width: 100%;
      border-radius: 100%;
    }
  }

  .entity-contact-info {
    list-style: none;
  }

  .entity-details {
    margin-top: 50px;
    list-style: none;
    display: block;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

    li {
      text-align: center;
      padding:5px;
      width: 25%;
      border:1px solid $grey;
      background-color: $lightGrey;
    }
  }

  .update-listing {
    list-style: none;
    a {
      text-decoration: none;
    }
    li {
      background: #fff;
      margin-bottom: 0;
      padding: 25px 15px;
      border: 1px solid $grey;
      border-top: none;
    }
    &:first-child {
      border-top: 1px solid $grey;
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }
}

/* ManageUsers */
.userlist {
  .row {
    padding: 25px;
    border-top: 1px solid $grey;
    margin-bottom: 25px;

    &:last-child {
      border-bottom: 1px solid $grey;
    }
  }
}

.table {
  width: 100%;
  overflow-x: auto;
}
