$bluePrimary: #1eaedb;
$blueLight: rgba($bluePrimary, .05);
$red: #E55B46;
$purple: #BD3CC5;
$green: #86D040;
$orange: #E59046;
$yellow: #E5D046;
$grey: #d1d1d1;

html, body {
  width: 100%;
  height: 100%;
}

input,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  min-height: 60px;
  font-size: 2rem;
}

.button-success {
  background: $green !important;
  color: #fff !important;
  border-color: #fff !important;

  &:hover {
    background: $green - 20;
  }
}

.navbar {
  overflow: hidden;
  position: fixed;
  background: $bluePrimary;
  width: 100px;
  height: 100%;
  text-align: center;
  // font-size: 2em;
  font-size: 1em;

  .lnr { font-size: 2em; }

  a {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $bluePrimary - 40;
    }
  }
  a.active {
    color: $bluePrimary;
    background-color: #fff;
  }
  .navbar-inner {
    height: inherit;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/* MainLayout
 ************************************/
.main-layout-container {
  padding: 25px 50px 50px 150px;
}


/* .incubator-crm
 ************************************/
.past-interactions-list,
.incubator-crm-list {
  .row {
    border-bottom: 1px solid $grey;

    .columns {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    &:hover:not(:first-child) {
        background: $blueLight;
    }
  }
}


/* Dashboard
 ************************************/
.bucket-list {
  h2 { text-align: center; }
  ul { list-style: none; }
  img { border-radius: 100%; }
}

/*  EntityDetails
 ************************************/
.entity-details-template {
  .goal {
    background: $green;
    float: right;
    padding: 5px 10px;
  }
  .entity-members-customers-lists {
    ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    li {
      width: 30%;
      margin: auto;
    }
    img {
      width: 100%;
      border-radius: 100%;
    }
  }

  .project-listing {
    list-style: none;
    a {
      text-decoration: none;
    }
    li {
      margin-bottom: 0;
      padding: 25px 15px;
      border: 1px solid $grey;
      border-top: none;
      &:hover {
        background: #fafafa;
      }
    }
    :first-child li {
      border-top: 1px solid $grey;
      border-radius: 4px 4px 0 0;
    }
    :last-child li {
      border-radius: 0 0 4px 4px;
    }
  }
}
